.container {
  margin-top: 50px;
  display: flex;
  max-width: 1100px;
  margin-left:205px;
  min-height: 600px;
}
/* Existing styles */

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1.5rem;
}


.leftcontainer {
  flex: 1;
  background-image: url('../../assets/bg2.png');
  background-size: cover;
  background-position: center;
  position: relative;
  border-top-left-radius: 12px;
  border-bottom-left-radius:12px ;

}

.rightcontainer {
  flex: 0 0 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  padding: 2rem;
  border-top-right-radius: 12px;
  border-bottom-right-radius:12px ;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  width: 100px;
}

.form {
  width: 100%;
}

.form_group {
  margin-bottom: 1.5rem;
}

.label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #333;
}

.input_field,
.password_input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #dcdfe6;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #f7f9fc;
  transition: border-color 0.3s ease;
}

.input_field:focus,
.password_input:focus {
  border-color: #a0b5eb;
  outline: none;
  box-shadow: 0 0 0 2px rgba(160, 181, 235, 0.4);
}

.password_container {
  position: relative;
}

.show_password_button {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.eye_icon {
  width: 24px;
  height: 24px;
}

.submit_button {
  width: 100%;
  padding: 0.75rem;
  background-color: #687188;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit_button:hover {
  background-color: #687188;
}

.error {
  color: #e74c3c;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-align: center;
}

.signup_link {
  text-align: center;
  margin-top: 1.5rem;
}

.signup_link p {
  font-size: 0.875rem;
  color: #6c757d;
}

.signup_link .ins {
  color: #687188;
  text-decoration: none;
  font-weight: bold;
}

.signup_link .ins:hover {
  text-decoration: underline;
}
